<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>
<body>
    <div id="342da9d5e6bf406a98b0251434ca1646" class="chart-container" style="width:900px; height:500px;"></div>
      <div id="cb7b600f6f1e4e44a911272e47080ba8" style="width:900px; height:500px;"></div>
     <div id="47515e4ee9d9432b81067123d2624a3f" style="width:900px; height:600px;"></div>
     <div id="dc4a7a417c5246deb406020f9dd20801" style="width:900px; height:500px;"></div>
    <script>
        var chart_342da9d5e6bf406a98b0251434ca1646 = echarts.init(
            document.getElementById('342da9d5e6bf406a98b0251434ca1646'), 'white', {renderer: 'canvas'});
        var option_342da9d5e6bf406a98b0251434ca1646 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u4ea7\u91cf",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "Afghanistan",
                    "value": 0
                },
                {
                    "name": "Albania",
                    "value": 0
                },
                {
                    "name": "Algeria",
                    "value": 0
                },
                {
                    "name": "Angola",
                    "value": 0
                },
                {
                    "name": "Argentina",
                    "value": 0
                },
                {
                    "name": "Armenia",
                    "value": 0
                },
                {
                    "name": "Australia",
                    "value": 2
                },
                {
                    "name": "Austria",
                    "value": 1
                },
                {
                    "name": "Azerbaijan",
                    "value": 0
                },
                {
                    "name": "Bangladesh",
                    "value": 0
                },
                {
                    "name": "Belarus",
                    "value": 0
                },
                {
                    "name": "Belgium",
                    "value": 4
                },
                {
                    "name": "Belize",
                    "value": 0
                },
                {
                    "name": "Benin",
                    "value": 0
                },
                {
                    "name": "Bermuda",
                    "value": 0
                },
                {
                    "name": "Bhutan",
                    "value": 0
                },
                {
                    "name": "Bolivia",
                    "value": 0
                },
                {
                    "name": "Bosnia and Herzegovina",
                    "value": 0
                },
                {
                    "name": "Botswana",
                    "value": 1
                },
                {
                    "name": "Brazil",
                    "value": 1
                },
                {
                    "name": "Brunei",
                    "value": 0
                },
                {
                    "name": "Bulgaria",
                    "value": 0
                },
                {
                    "name": "Burkina Faso",
                    "value": 0
                },
                {
                    "name": "Burundi",
                    "value": 0
                },
                {
                    "name": "Cambodia",
                    "value": 0
                },
                {
                    "name": "Cameroon",
                    "value": 0
                },
                {
                    "name": "Canada",
                    "value": 5
                },
                {
                    "name": "Central African Republic",
                    "value": 0
                },
                {
                    "name": "Chad",
                    "value": 0
                },
                {
                    "name": "Chile",
                    "value": 0
                },
                {
                    "name": "China",
                    "value": 30
                },
                {
                    "name": "Colombia",
                    "value": 0
                },
                {
                    "name": "Costa Rica",
                    "value": 0
                },
                {
                    "name": "Croatia",
                    "value": 0
                },
                {
                    "name": "Cuba",
                    "value": 1
                },
                {
                    "name": "Cyprus",
                    "value": 0
                },
                {
                    "name": "Czech Republic",
                    "value": 0
                },
                {
                    "name": "Democratic Republic of the Congo",
                    "value": 0
                },
                {
                    "name": "Denmark",
                    "value": 2
                },
                {
                    "name": "Djibouti",
                    "value": 0
                },
                {
                    "name": "Dominican Republic",
                    "value": 0
                },
                {
                    "name": "East Timor",
                    "value": 0
                },
                {
                    "name": "Ecuador",
                    "value": 0
                },
                {
                    "name": "Egypt",
                    "value": 0
                },
                {
                    "name": "El Salvador",
                    "value": 0
                },
                {
                    "name": "Equatorial Guinea",
                    "value": 0
                },
                {
                    "name": "Eritrea",
                    "value": 0
                },
                {
                    "name": "Estonia",
                    "value": 0
                },
                {
                    "name": "Ethiopia",
                    "value": 0
                },
                {
                    "name": "Falkland Islands",
                    "value": 0
                },
                {
                    "name": "Fiji",
                    "value": 0
                },
                {
                    "name": "Finland",
                    "value": 0
                },
                {
                    "name": "France",
                    "value": 21
                },
                {
                    "name": "French Guiana",
                    "value": 0
                },
                {
                    "name": "French Southern and Antarctic Lands",
                    "value": 0
                },
                {
                    "name": "Gabon",
                    "value": 0
                },
                {
                    "name": "Gambia",
                    "value": 0
                },
                {
                    "name": "Georgia",
                    "value": 0
                },
                {
                    "name": "Germany",
                    "value": 21
                },
                {
                    "name": "Ghana",
                    "value": 0
                },
                {
                    "name": "Greece",
                    "value": 1
                },
                {
                    "name": "Greenland",
                    "value": 0
                },
                {
                    "name": "Guatemala",
                    "value": 0
                },
                {
                    "name": "Guinea",
                    "value": 0
                },
                {
                    "name": "Guinea Bissau",
                    "value": 0
                },
                {
                    "name": "Guyana",
                    "value": 0
                },
                {
                    "name": "Haiti",
                    "value": 0
                },
                {
                    "name": "Honduras",
                    "value": 0
                },
                {
                    "name": "Hungary",
                    "value": 2
                },
                {
                    "name": "Iceland",
                    "value": 1
                },
                {
                    "name": "India",
                    "value": 4
                },
                {
                    "name": "Indonesia",
                    "value": 0
                },
                {
                    "name": "Iran",
                    "value": 3
                },
                {
                    "name": "Iraq",
                    "value": 0
                },
                {
                    "name": "Ireland",
                    "value": 1
                },
                {
                    "name": "Israel",
                    "value": 0
                },
                {
                    "name": "Italy",
                    "value": 17
                },
                {
                    "name": "Ivory Coast",
                    "value": 0
                },
                {
                    "name": "Jamaica",
                    "value": 0
                },
                {
                    "name": "Japan",
                    "value": 60
                },
                {
                    "name": "Jordan",
                    "value": 0
                },
                {
                    "name": "Kazakhstan",
                    "value": 0
                },
                {
                    "name": "Kenya",
                    "value": 0
                },
                {
                    "name": "Kosovo",
                    "value": 0
                },
                {
                    "name": "Kuwait",
                    "value": 0
                },
                {
                    "name": "Kyrgyzstan",
                    "value": 0
                },
                {
                    "name": "Laos",
                    "value": 0
                },
                {
                    "name": "Latvia",
                    "value": 0
                },
                {
                    "name": "Lebanon",
                    "value": 0
                },
                {
                    "name": "Lesotho",
                    "value": 0
                },
                {
                    "name": "Liberia",
                    "value": 0
                },
                {
                    "name": "Libya",
                    "value": 0
                },
                {
                    "name": "Lithuania",
                    "value": 0
                },
                {
                    "name": "Luxembourg",
                    "value": 1
                },
                {
                    "name": "Macedonia",
                    "value": 0
                },
                {
                    "name": "Madagascar",
                    "value": 0
                },
                {
                    "name": "Malawi",
                    "value": 0
                },
                {
                    "name": "Malaysia",
                    "value": 0
                },
                {
                    "name": "Mali",
                    "value": 0
                },
                {
                    "name": "Mauritania",
                    "value": 0
                },
                {
                    "name": "Mexico",
                    "value": 0
                },
                {
                    "name": "Moldova",
                    "value": 0
                },
                {
                    "name": "Mongolia",
                    "value": 0
                },
                {
                    "name": "Montenegro",
                    "value": 0
                },
                {
                    "name": "Morocco",
                    "value": 0
                },
                {
                    "name": "Mozambique",
                    "value": 0
                },
                {
                    "name": "Myanmar",
                    "value": 0
                },
                {
                    "name": "Namibia",
                    "value": 0
                },
                {
                    "name": "Nepal",
                    "value": 0
                },
                {
                    "name": "Netherlands",
                    "value": 1
                },
                {
                    "name": "New Caledonia",
                    "value": 0
                },
                {
                    "name": "New Zealand",
                    "value": 3
                },
                {
                    "name": "Nicaragua",
                    "value": 0
                },
                {
                    "name": "Niger",
                    "value": 0
                },
                {
                    "name": "Nigeria",
                    "value": 0
                },
                {
                    "name": "North Korea",
                    "value": 0
                },
                {
                    "name": "Northern Cyprus",
                    "value": 0
                },
                {
                    "name": "Norway",
                    "value": 0
                },
                {
                    "name": "Oman",
                    "value": 0
                },
                {
                    "name": "Pakistan",
                    "value": 0
                },
                {
                    "name": "Panama",
                    "value": 0
                },
                {
                    "name": "Papua New Guinea",
                    "value": 0
                },
                {
                    "name": "Paraguay",
                    "value": 0
                },
                {
                    "name": "Peru",
                    "value": 0
                },
                {
                    "name": "Philippines",
                    "value": 0
                },
                {
                    "name": "Poland",
                    "value": 3
                },
                {
                    "name": "Portugal",
                    "value": 0
                },
                {
                    "name": "Puerto Rico",
                    "value": 1
                },
                {
                    "name": "Qatar",
                    "value": 0
                },
                {
                    "name": "Republic of Serbia",
                    "value": 0
                },
                {
                    "name": "Republic of the Congo",
                    "value": 0
                },
                {
                    "name": "Romania",
                    "value": 0
                },
                {
                    "name": "Russia",
                    "value": 3
                },
                {
                    "name": "Rwanda",
                    "value": 0
                },
                {
                    "name": "Saudi Arabia",
                    "value": 0
                },
                {
                    "name": "Senegal",
                    "value": 0
                },
                {
                    "name": "Sierra Leone",
                    "value": 0
                },
                {
                    "name": "Slovakia",
                    "value": 1
                },
                {
                    "name": "Slovenia",
                    "value": 0
                },
                {
                    "name": "Solomon Islands",
                    "value": 0
                },
                {
                    "name": "Somalia",
                    "value": 0
                },
                {
                    "name": "Somaliland",
                    "value": 0
                },
                {
                    "name": "South Africa",
                    "value": 2
                },
                {
                    "name": "South Korea",
                    "value": 7
                },
                {
                    "name": "South Sudan",
                    "value": 0
                },
                {
                    "name": "Spain",
                    "value": 2
                },
                {
                    "name": "Sri Lanka",
                    "value": 0
                },
                {
                    "name": "Sudan",
                    "value": 0
                },
                {
                    "name": "Suriname",
                    "value": 0
                },
                {
                    "name": "Swaziland",
                    "value": 0
                },
                {
                    "name": "Sweden",
                    "value": 1
                },
                {
                    "name": "Switzerland",
                    "value": 3
                },
                {
                    "name": "Syria",
                    "value": 0
                },
                {
                    "name": "Tajikistan",
                    "value": 0
                },
                {
                    "name": "Thailand",
                    "value": 0
                },
                {
                    "name": "The Bahamas",
                    "value": 0
                },
                {
                    "name": "Togo",
                    "value": 0
                },
                {
                    "name": "Trinidad and Tobago",
                    "value": 0
                },
                {
                    "name": "Tunisia",
                    "value": 0
                },
                {
                    "name": "Turkey",
                    "value": 1
                },
                {
                    "name": "Turkmenistan",
                    "value": 0
                },
                {
                    "name": "Uganda",
                    "value": 0
                },
                {
                    "name": "Ukraine",
                    "value": 0
                },
                {
                    "name": "United Arab Emirates",
                    "value": 1
                },
                {
                    "name": "United Kingdom",
                    "value": 21
                },
                {
                    "name": "United Republic of Tanzania",
                    "value": 0
                },
                {
                    "name": "United States",
                    "value": 106
                },
                {
                    "name": "Uruguay",
                    "value": 0
                },
                {
                    "name": "Uzbekistan",
                    "value": 0
                },
                {
                    "name": "Vanuatu",
                    "value": 0
                },
                {
                    "name": "Venezuela",
                    "value": 0
                },
                {
                    "name": "Vietnam",
                    "value": 0
                },
                {
                    "name": "West Bank",
                    "value": 0
                },
                {
                    "name": "Western Sahara",
                    "value": 0
                },
                {
                    "name": "Yemen",
                    "value": 0
                },
                {
                    "name": "Zambia",
                    "value": 0
                },
                {
                    "name": "Zimbabwe",
                    "value": 0
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4ea7\u91cf"
            ],
            "selected": {
                "\u4ea7\u91cf": true
            },
            "show": true,
            "left": "0.5%",
            "top": "58%",
            "orient": "\u4ea7\u91cf"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u8c46\u74e3top250\u7535\u5f71\u5206\u5e03\u5730\u533a",
            "left": 360
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 106,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true
    }
};
        chart_342da9d5e6bf406a98b0251434ca1646.setOption(option_342da9d5e6bf406a98b0251434ca1646);
    </script>



<script>
        var chart_cb7b600f6f1e4e44a911272e47080ba8 = echarts.init(
            document.getElementById('cb7b600f6f1e4e44a911272e47080ba8'), 'white', {renderer: 'canvas'});
        var option_cb7b600f6f1e4e44a911272e47080ba8 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7f8e\u56fd",
                    "value": 138
                },
                {
                    "name": "\u65e5\u672c",
                    "value": 32
                },
                {
                    "name": "\u82f1\u56fd",
                    "value": 30
                },
                {
                    "name": "\u9999\u6e2f",
                    "value": 22
                },
                {
                    "name": "\u6cd5\u56fd",
                    "value": 20
                },
                {
                    "name": "\u5fb7\u56fd",
                    "value": 19
                },
                {
                    "name": "\u4e2d\u56fd\u5927\u9646",
                    "value": 14
                },
                {
                    "name": "\u97e9\u56fd",
                    "value": 11
                },
                {
                    "name": "\u610f\u5927\u5229",
                    "value": 9
                },
                {
                    "name": "\u6fb3\u5927\u5229\u4e9a",
                    "value": 7
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "35%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7f8e\u56fd",
                "\u65e5\u672c",
                "\u82f1\u56fd",
                "\u9999\u6e2f",
                "\u6cd5\u56fd",
                "\u5fb7\u56fd",
                "\u4e2d\u56fd\u5927\u9646",
                "\u97e9\u56fd",
                "\u610f\u5927\u5229",
                "\u6fb3\u5927\u5229\u4e9a"
            ],
            "selected": {},
            "show": true,
            "bottom": "0"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u8c46\u74e3top250\u7535\u5f71\u4ea7\u6e90\u56fd\u5bb6\u6570\u91cf\u5360\u6bd4"
        }
    ]
};
        chart_cb7b600f6f1e4e44a911272e47080ba8.setOption(option_cb7b600f6f1e4e44a911272e47080ba8);
    </script>

<script>
        var chart_47515e4ee9d9432b81067123d2624a3f = echarts.init(
            document.getElementById('47515e4ee9d9432b81067123d2624a3f'), 'light', {renderer: 'canvas'});
        var option_47515e4ee9d9432b81067123d2624a3f = {
    "series": [
        {
            "type": "bar",
            "name": "\u5bfc\u6f14\u4f5c\u54c1\u6570\u91cf",
            "data": [
                7,
                7,
                5,
                5,
                4,
                4,
                3,
                3,
                3,
                3,
                3,
                3,
                3,
                3,
                2
            ],
            "barCategoryGap": "60%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5bfc\u6f14\u4f5c\u54c1\u6570\u91cf"
            ],
            "selected": {
                "\u5bfc\u6f14\u4f5c\u54c1\u6570\u91cf": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 60,
                "margin": 8,
                "fontSize": 12
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5bab\u5d0e\u9a8f",
                "\u514b\u91cc\u65af\u6258\u5f17\u00b7\u8bfa\u5170",
                "\u738b\u5bb6\u536b",
                "\u53f2\u8482\u6587\u00b7\u65af\u76ae\u5c14\u4f2f\u683c",
                "\u5927\u536b\u00b7\u82ac\u5947",
                "\u674e\u5b89",
                "\u8a79\u59c6\u65af\u00b7\u5361\u6885\u9686",
                "\u662f\u679d\u88d5\u548c",
                "\u5f7c\u5f97\u00b7\u6770\u514b\u900a",
                "\u5218\u9547\u4f1f",
                "\u5f7c\u7279\u00b7\u9053\u683c\u7279",
                "\u7406\u67e5\u5fb7\u00b7\u6797\u514b\u83b1\u7279",
                "\u6731\u585e\u4f69\u00b7\u6258\u7eb3\u591a\u96f7",
                "\u5f17\u6717\u897f\u65af\u00b7\u798f\u7279\u00b7\u79d1\u6ce2\u62c9",
                "\u4e2d\u5c9b\u54f2\u4e5f"
            ]
        }
    ],
    "title": [
        {
            "text": "top250\u7535\u5f71\u4e2d\u5bfc\u6f14\u4f5c\u54c1\u6570\u91cftop10",
            "subtext": "\u6570\u636e\u6765\u6e90\uff1awww.douban.com"
        }
    ]
};
        chart_47515e4ee9d9432b81067123d2624a3f.setOption(option_47515e4ee9d9432b81067123d2624a3f);
    </script>
<script>
        var chart_dc4a7a417c5246deb406020f9dd20801 = echarts.init(
            document.getElementById('dc4a7a417c5246deb406020f9dd20801'), 'light', {renderer: 'canvas'});
        var option_dc4a7a417c5246deb406020f9dd20801 = {
    "series": [
        {
            "type": "funnel",
            "data": [
                {
                    "name": "John",
                    "value": 8
                },
                {
                    "name": "\u5f20\u56fd\u8363",
                    "value": 8
                },
                {
                    "name": "\u96e8\u679c\u00b7\u7ef4\u6587",
                    "value": 7
                },
                {
                    "name": "\u5f20\u66fc\u7389",
                    "value": 7
                },
                {
                    "name": "\u9a6c\u7279\u00b7\u8fbe\u8499",
                    "value": 6
                },
                {
                    "name": "\u6881\u671d\u4f1f",
                    "value": 5
                },
                {
                    "name": "\u8fc8\u514b\u5c14\u00b7\u51ef\u6069",
                    "value": 5
                },
                {
                    "name": "\u51ef\u62c9\u00b7\u5948\u7279\u8389",
                    "value": 5
                },
                {
                    "name": "\u83b1\u6602\u7eb3\u591a\u00b7\u8fea\u5361\u666e\u91cc\u5965",
                    "value": 5
                },
                {
                    "name": "Frank",
                    "value": 5
                },
                {
                    "name": "Michael",
                    "value": 5
                },
                {
                    "name": "\u4f0a\u6851\u00b7\u970d\u514b",
                    "value": 5
                },
                {
                    "name": "\u743c\u00b7\u827e\u4f26",
                    "value": 5
                },
                {
                    "name": "Charles",
                    "value": 4
                },
                {
                    "name": "\u5e03\u62c9\u5fb7\u00b7\u76ae\u7279",
                    "value": 4
                },
                {
                    "name": "\u5218\u5609\u73b2",
                    "value": 4
                },
                {
                    "name": "\u5468\u661f\u9a70",
                    "value": 4
                },
                {
                    "name": "\u6c64\u59c6\u00b7\u6c49\u514b\u65af",
                    "value": 4
                },
                {
                    "name": "Dan",
                    "value": 4
                },
                {
                    "name": "\u5b89\u8fea\u00b7\u745f\u91d1\u65af",
                    "value": 4
                }
            ],
            "sort": "ascending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5f20\u56fd\u8363",
                "\u8fc8\u514b\u5c14\u00b7\u51ef\u6069",
                "Michael",
                "John",
                "\u6881\u671d\u4f1f",
                "\u5b89\u8fea\u00b7\u745f\u91d1\u65af",
                "\u5f20\u66fc\u7389",
                "\u5218\u5609\u73b2",
                "\u9a6c\u7279\u00b7\u8fbe\u8499",
                "\u743c\u00b7\u827e\u4f26",
                "\u4f0a\u6851\u00b7\u970d\u514b",
                "Charles",
                "\u51ef\u62c9\u00b7\u5948\u7279\u8389",
                "\u6c64\u59c6\u00b7\u6c49\u514b\u65af",
                "Dan",
                "\u83b1\u6602\u7eb3\u591a\u00b7\u8fea\u5361\u666e\u91cc\u5965",
                "\u5e03\u62c9\u5fb7\u00b7\u76ae\u7279",
                "\u5468\u661f\u9a70",
                "Frank",
                "\u96e8\u679c\u00b7\u7ef4\u6587"
            ],
            "selected": {
                "John": true,
                "\u5f20\u56fd\u8363": true,
                "\u96e8\u679c\u00b7\u7ef4\u6587": true,
                "\u5f20\u66fc\u7389": true,
                "\u9a6c\u7279\u00b7\u8fbe\u8499": true,
                "\u6881\u671d\u4f1f": true,
                "\u8fc8\u514b\u5c14\u00b7\u51ef\u6069": true,
                "\u51ef\u62c9\u00b7\u5948\u7279\u8389": true,
                "\u83b1\u6602\u7eb3\u591a\u00b7\u8fea\u5361\u666e\u91cc\u5965": true,
                "Frank": true,
                "Michael": true,
                "\u4f0a\u6851\u00b7\u970d\u514b": true,
                "\u743c\u00b7\u827e\u4f26": true,
                "Charles": true,
                "\u5e03\u62c9\u5fb7\u00b7\u76ae\u7279": true,
                "\u5218\u5609\u73b2": true,
                "\u5468\u661f\u9a70": true,
                "\u6c64\u59c6\u00b7\u6c49\u514b\u65af": true,
                "Dan": true,
                "\u5b89\u8fea\u00b7\u745f\u91d1\u65af": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4f18\u79c0\u6f14\u5458\u53c2\u6f14\u4f5c\u54c1\u6570\u91cf",
            "bottom": 0
        }
    ]
};
        chart_dc4a7a417c5246deb406020f9dd20801.setOption(option_dc4a7a417c5246deb406020f9dd20801);
    </script>
 <p><input type='SUBMIT' onclick='javascript:history.back(-1);' value='返回上一页'></p>
</body>
</html>
